/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("images.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.page-title {
  text-align: center;
  color: white;
  font-size: 48px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  margin-top: 20px;
}

.underline {
  width: 200px;
  height: 3px;
  background-color: white;
  margin: 0 auto 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.intern-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.right-align {
  text-align: right;
}

.duration,
.location {
  display: block;
  font-size: 14px;
  color: #180d0d;
  margin-bottom: 5px;
}

.internship-box {
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
