body {
  margin: 0;
  padding: 0;
  background: url("sukadha-modified.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  color: white;
  font-size: 28px;
  font-family: "Maharlika", Arial, sans-serif;
  filter: grayscale(100%);
}

.header {
  position: absolute;
  top: 70px; /* Space from top */
  left: 80px; /* Space from left border */
  font-family: "Maharlika", Arial, sans-serif;
  font-size: 36px; /* Adjust font size */
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Optional shadow */
  line-height: 0.5; /* Space between lines */
}

.social-icons {
  margin-top: 60px; /* Adjusted space between name and icons */
  position: absolute;
  top: 140px; /* Position below the header */
  left: 30px; /* Align with the header on the left */
  display: flex;
  justify-content: flex-start;
}

.social-icons a {
  font-size: 36px; /* Size of the social media icons */
  margin: 0 30px; /* Space between icons */
  text-decoration: none; /* Remove underline */
}

.social-icons a:hover {
  opacity: 0.8; /* Optional hover effect */
}

.about-text-box {
  margin-top: 100px; /* Space between icons and the text box */
  width: 40%; /* Width of the box */
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border: 2px solid white; /* White border */
  border-radius: 8px; /* Rounded corners */
  text-align: center;
  color: white;
  font-size: 15px;
}

.about-text-box p {
  margin: 0; /* Remove extra margin from paragraph */
  line-height: 1.6; /* Space between lines in the text */
}

/* Right sidebar style */
.right-sidebar {
  position: absolute;
  top: 70px;
  right: 60px; /* Adjusted space from the right edge */
  font-size: 24px;
  color: black;
  font-family: Arial, sans-serif;
  width: 250px; /* Width of the right sidebar */
  text-align: left; /* Align text to the left */
}

.section {
  margin: 20px 0; /* Space between sections */
  border-bottom: 4px solid black; /* Increased border thickness */
  padding-bottom: 17px;
  font-weight: bold;
  padding-left: 10px; /* Added padding to create space between the border and text */
}


a {
  color: black;
  text-decoration: none;
}